<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {{> navbar}}
    {{> search}}

    <div class="container-fluid tm-container-content tm-mt-60">
        <div class="row mb-4">
            {{^searchTerm}}
                <h2 class="col-6 tm-text-primary">Latest</h2>
            {{/searchTerm}}
            {{#searchTerm}}
                <h2 class="col-6 tm-text-primary">Search results '{{searchTerm}}'</h2>
            {{/searchTerm}}
        </div>
        <div class="row tm-mb-90 tm-gallery">
        {{#content}}
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5 mt-5">
                <h5>{{title}}</h5>
                <figure class="effect-ming tm-video-item">
                    <img src="{{previewUrl}}" alt="Image" class="mx-auto d-block">
                    <figcaption class="d-flex align-items-center justify-content-center">
                        <h2>View</h2>
                        <a href="/{{mediaType}}/{{_id}}">View</a>
                    </figcaption>
                </figure>
                <div class="d-flex justify-content-between tm-text-gray">
                    <span>{{rating}}</span>
                    <a href="/topic/{{topic}}" class="tm-text-primary mr-4 mb-2 d-inline-block">{{topic}}</a>
                </div>
            </div>
        {{/content}}
        </div>
    </div>

    {{> pageloader}}
</body>
</html>