<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{content.title}}</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {{> navbar}}
    {{> search}}
    {{#content}}
        <div class="container-fluid tm-container-content tm-mt-60">
            <div class="row mb-4">
                <h2 class="col-12 tm-text-primary">{{title}}</h2>
            </div>
            <div class="row tm-mb-50">
                <div class="col-xl-8 col-lg-7 col-md-6 col-sm-12">
                    {{#isImage}}
                        <img src="{{contentUrl}}" alt="No image found" class="img-fluid">
                    {{/isImage}}
                    {{#isVideo}}
                        <iframe class="video" src="{{contentUrl}}" frameborder="0" allowfullscreen ></iframe>
                    {{/isVideo}}
                </div>

                <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12">
                    <div class="tm-bg-gray tm-video-details">
                        <div class="mb-4">
                            {{#description}}
                                <h3 class="tm-text-gray-dark mb-3">Description</h3>
                                <p>{{{description}}}</p>
                            {{/description}}
                            {{^description}}
                                <p>No description available</p>
                            {{/description}}
                        </div>
                        <div class="mb-4">
                            {{#topic}}
                                <h3 class="tm-text-gray-dark mb-3">Topic</h3>
                                <a href="/topic/{{topic}}" class="tm-text-primary mr-4 mb-2 d-inline-block">{{topic}}</a>
                            {{/topic}}
                            {{^topic}}
                                <p>No topic available</p>
                            {{/topic}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row tm-mb-50">
                <div class="col-xl">
                    <div class="tm-bg-gray pb-4 pl-4 pr-4">
                        <form class="cf review-form pt-4" method="POST" modelAttribute="review">
                            <div class="rating">
                                <label>
                                    <input type="radio" name="rating" value="1" />
                                    <span class="icon">★</span>
                                </label>
                                <label>
                                    <input type="radio" name="rating" value="2" />
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                </label>
                                <label>
                                    <input type="radio" name="rating" value="3" />
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                </label>
                                <label>
                                    <input type="radio" name="rating" value="4" />
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                </label>
                                <label>
                                    <input type="radio" name="rating" value="5" />
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                </label>
                            </div>
                            <input name="name" type="text" id="input-name" placeholder="Name">
                            <textarea name="text" type="text" id="input-review" placeholder="Review"></textarea>
                            <button type="submit" id="input-submit" class="btn btn-primary btn-lg mt-3">Submit</button>
                        </form>
                    </div>
                </div>
            </div>

            {{#reviews}}
                <div class="row mb-4">
                    <div class="col-xl">
                        <div class="tm-bg-gray p-4">
                            <h4>{{name}}</h4>
                            <span>{{rating}}</span>
                            <p>{{text}}</p>
                        </div>
                    </div>
                </div>
            {{/reviews}}
        </div>
    {{/content}}
    {{> pageloader}}
</body>
</html>