<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand navbar-item" href="/">Content Viewer</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse navbar-item" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link nav-link-1" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-2" href="/videos">Videos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-3" href="/images">Images</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-3" href="/top">Top 10</a>
                </li>
            </ul>
        </div>
    </div>
</nav>