<div class="tm-hero d-flex justify-content-center align-items-center" data-parallax="scroll" data-image-src="https://img.liiift.io/v1/RBCP/FO-1MK8DZVG91W11.jpg/a:h/im/image_proxy_large.jpg?ht=exp=1644451200+hmac=715f2183d268ee4e23bbd52a0f256b5c">
    <form class="d-flex tm-search-form" action="/browse" method="get">
        <input name="search" class="form-control tm-search-input" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success tm-search-btn" type="submit">
            <i class="fas fa-search"></i>
        </button>
    </form>
</div>